.list {
  width: 100%;
  /*TODO костыль*/
  padding-bottom: 1em;
  margin-top: 1em;

  &-item {
    border: 1px solid #dcdcdc;
    margin: 0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1.25em;

    &:hover {
      background-color: #f9f9f9;
      box-shadow: 0 0 2px 2px #e8e8e8;
      margin-top: -0.25em;
      margin-bottom: 0.75em;
    }
  }

  &-item-row {
    padding: 0 0.25em;
  }
}
