.list {
  width: 100%;
  padding: 1em 0;

  &-item {
    border: 1px solid #dcdcdc;
    margin: 0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1.25em;

    &:hover {
      background-color: #f9f9f9;
    }
  }

  &-item-row {
    padding: 0 0.25em;
  }
}
