@import '../../../styles/variables.scss';

.rate {
  &-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  &-item {
    @include clickable;

    margin-right: 1em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.75em;
    font-size: 1em;
    border-radius: 50%;
    background-color: #d6d6d6;
    font-weight: bold;
    color: #757575;

    &:last-child {
      margin-right: 0;
    }
  }

  &-item-active,
  &-item:hover {
    background-color: #ececec;
    box-shadow: 0 0 2px 2px #efefef;
  }
}
