<ng-container *ngIf="items$ | async; let rockets">
  <h2>Rockets</h2>

  <div class="tui-row">
    <div
      class="tui-col_md-12"
      *ngFor="let rocket of rockets"
      class="action"
      [routerLink]="[rocket.rocket_id]"
    >
      <div>rocket №{{ rocket.rocket_id }}</div>
      <div>rocket name {{ rocket.rocket_name }}</div>
    </div>
  </div>

  <button (click)="prev()" [disabled]="page === 0">prevPage</button>
  <button (click)="next()" [disabled]="page === lastPage">nextPage</button>
</ng-container>
