<ng-container *ngIf="items$ | async; let rockets">
  <h2>Rockets</h2>

  <div class="list">
    <div
      class="list-item"
      *ngFor="let rocket of rockets"
      [routerLink]="[rocket.rocket_id]"
    >
      <div class="list-item-row">rocket №{{ rocket.rocket_id }}</div>
      <div class="list-item-row">rocket name {{ rocket.rocket_name }}</div>
    </div>
  </div>

  <list-button
    [page]="page"
    [firstPage]="0"
    [lastPage]="lastPage"
    (next)="next()"
    (prev)="prev()"
  ></list-button>
</ng-container>
