@import '../../../styles/variables.scss';

.nav-list {
  display: flex;

  &-item {
    list-style-type: none;

    &-link {
      @include clickable;

      padding: 0.5em 2em;
      align-content: center;
      height: 75px;
      display: flex;
      font-size: 1.5em;
      line-height: 75px;
      text-decoration: none;
      font-weight: bold;
      color: #696969;

      &:hover {
        background-color: #dcdcdc;
      }

      &-active{
        background-color: #dadada;
        color: #fdfdfd;
      }
    }
  }
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #eaeaea;
  border-bottom: 1px solid black;
  padding: 0 2em;
  margin: 0 -2em;
}
