<h2>Feedback</h2>

<form [formGroup]="form">
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label required">Name</label>
      <input
        formControlName="name"
        class="text-field"
        tabindex="0"
        #firstControl
      />
      <field-error [errors]="nameControl.errors"></field-error>
    </div>
    <div class="col-6">
      <label class="field-label required">Last name</label>
      <input formControlName="lastName" class="text-field" tabindex="0" />
      <field-error [errors]="lastNameControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label">Phone</label>
      <input formControlName="phone" class="text-field" tabindex="0" />
      {{ phoneControl.errors | json }}
      <field-error [errors]="phoneControl.errors"></field-error>
    </div>
    <div class="col-6">
      <label class="field-label required">Email</label>
      <input formControlName="email" class="text-field" tabindex="0" />
      <field-error [errors]="emailControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Subject</label>
      <space-select
        [items]="subjects"
        formControlName="subject"
        tabindex="0"
      ></space-select>
      <field-error [errors]="subjectControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Comment</label>
      <textarea
        formControlName="comment"
        class="text-field textarea-field"
        tabindex="0"
      ></textarea>
      <field-error [errors]="commentControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Rate us</label>
      <rate formControlName="rate" tabindex="0"></rate>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Subscrube news</label>
      <checkbox formControlName="subscribe" tabindex="0"></checkbox>
    </div>
  </div>
  <div class="feedback-row">
    <div class="button-container">
      <button
        class="button"
        (click)="reset()"
        [disabled]="!hasChanges"
        tabindex="0"
      >
        Reset
      </button>
      <button
        class="button button-primary"
        (click)="submit()"
        [disabled]="!hasChanges"
        tabindex="0"
      >
        Send
      </button>
    </div>
  </div>
</form>
