@import "../../../styles/variables.scss";

:host {
  width: 1200px;
}

.feedback-container {
  width: 800px;
  margin: 0 auto;
  font-size: 1.25em;
}

.feedback-row {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.col-6 {
  width: 50%;
  padding: 0 1em;
}

.col-12 {
  width: 100%;
  padding: 0 1em;
}

.field-label {
  display: block;
  width: 100%;

  color: $form-label;
}

.text-field {
  @include field;
}

.textarea-field {
  @include field;

  height: 5em;
  resize: none;
}

.required::after {
  color: $alert-color;
  content: "*";
}
