<form [formGroup]="form">
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label required">Name</label>
      <input formControlName="name" class="text-field" />
      <field-error
        [show]="showValidation && nameControl.errors"
        [errorMessage]="'Empty'"
      ></field-error>
    </div>
    <div class="col-6">
      <label class="field-label required">Last name</label>
      <input formControlName="lastName" class="text-field" />
      <field-error
        [show]="showValidation && lastNameControl.errors"
        [errorMessage]="'Empty'"
      ></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label">phone</label>
      <input formControlName="phone" class="text-field" />
    </div>
    <div class="col-6">
      <label class="field-label required">email</label>
      <input formControlName="email" class="text-field" />
      <field-error
        [show]="showValidation && emailControl.errors"
        [errorMessage]="'Empty'"
      ></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Subject</label>
      <input formControlName="subject" class="text-field" />
      <field-error
        [show]="showValidation && subjectControl.errors"
        [errorMessage]="'Empty'"
      ></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Comment</label>
      <textarea
        formControlName="comment"
        class="text-field textarea-field"
      ></textarea>
      <field-error
        [show]="showValidation && commentControl.errors"
        [errorMessage]="'Empty'"
      ></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Rate us</label>
      <div>Rate component</div>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Subscrube news</label>
      <input formControlName="subscribe" type="checkbox" />
    </div>
  </div>
  <div class="feedback-row">
    <div class="button-container">
      <button class="button" (click)="reset()" [disabled]="!hasChanges">
        Reset
      </button>
      <button class="button" (click)="submit()" [disabled]="!hasChanges">
        Send
      </button>
    </div>
  </div>
</form>
