<form [formGroup]="form">
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label required">Name</label>
      <input formControlName="name" class="text-field" />
      <field-error [errors]="nameControl.errors"></field-error>
    </div>
    <div class="col-6">
      <label class="field-label required">Last name</label>
      <input formControlName="lastName" class="text-field" />
      <field-error [errors]="lastNameControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-6">
      <label class="field-label">Phone</label>
      <input formControlName="phone" class="text-field" />
    </div>
    <div class="col-6">
      <label class="field-label required">Email</label>
      <input formControlName="email" class="text-field" />
      <field-error [errors]="emailControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Subject</label>
      <input formControlName="subject" class="text-field" />
      <field-error [errors]="subjectControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label required">Comment</label>
      <textarea
        formControlName="comment"
        class="text-field textarea-field"
      ></textarea>
      <field-error [errors]="commentControl.errors"></field-error>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Rate us</label>
      <rate formControlName="rate"></rate>
    </div>
  </div>
  <div class="feedback-row">
    <div class="col-12">
      <label class="field-label">Subscrube news</label>
      <input formControlName="subscribe" type="checkbox" />
    </div>
  </div>
  <div class="feedback-row">
    <div class="button-container">
      <button class="button" (click)="reset()" [disabled]="!hasChanges">
        Reset
      </button>
      <button class="button" (click)="submit()" [disabled]="!hasChanges">
        Send
      </button>
    </div>
  </div>
</form>
