<ng-container *ngIf="items$ | async; let launches">
  <h2>Launches</h2>

  <div class="list">
    <div
      *ngFor="let launch of launches"
      class="list-item"
      [routerLink]="[launch.flight_number]"
    >
      <div class="list-item-row">Flight №{{ launch.flight_number }}</div>
      <div class="list-item-row">Mission name {{ launch.mission_name }}</div>
    </div>
  </div>

  <list-button
    [page]="page"
    [firstPage]="0"
    [lastPage]="lastPage"
    (next)="next()"
    (prev)="prev()"
  ></list-button>
</ng-container>
