<div class="gallery">
  <div
    class="gallery-view"
    [ngClass]="{ 'gallery-view__fullscreen': fullscreen }"
  >
    <div class="gallery-button" (click)="navigatePrev()">назад</div>
    <img
      class="gallery-image"
      (click)="toggleFullscreen()"
      src="{{ images[activeImage] }}"
    />
    <div class="gallery-button" (click)="navigateNext()">вперед</div>
  </div>
  <div class="gallery-preview">
    <img
      class="gallery-preview-image"
      *ngFor="let image of images; let index = index"
      (click)="selectImage(index)"
      src="{{ image }}"
    />
  </div>
</div>
