<div class="gallery">
  <div
    class="gallery-view"
    [ngClass]="{ 'gallery-view__fullscreen': fullscreen }"
  >
    <div class="gallery-button" (click)="navigatePrev()">назад</div>
    <img
      class="gallery-image"
      [ngClass]="{ 'gallery-image__fullscreen': fullscreen }"
      (click)="toggleFullscreen()"
      src="{{ images[activeImage] }}"
    />
    <div class="gallery-button" (click)="navigateNext()">вперед</div>
  </div>
  <div class="gallery-preview">
    <div
      class="gallery-preview-container"
      *ngFor="let image of images; let index = index"
      [ngClass]="{ 'gallery-preview-container-active': index === activeImage }"
      (click)="selectImage(index)"
    >
      <img class="gallery-preview-image" src="{{ image }}" />
    </div>
  </div>
</div>
